

// Fonts
$font_principal:'Roboto', sans-serif;
$font_secondary: 'Lato', sans-serif;


// Media Querys
$phone : 480px;
$tablet : 768px;
$desktop: 1024px;


//Colours
$color_primary:#242F9B;
$color_secondary:#646FD4;
$color_terciary: #9BA3EB;
$color_fourth: #DBDFFD;

$black:#000000;
$white:#FFFFFF;
$grayLight:#eceeef;

// Units 
$space : 5rem;


